.vertical-menu {
  height: 300px;
  width: 100%;
  background-color: #A9A9A9;
  padding:10px;
}

.links {
  display: flex;
  flex-direction: column;
}

.link {
  flex-basis: 25px;
  font-weight: bold;
}
