<div class="form-wrapper">
  <p *ngIf="formSubmitted">{{submittedMessage}}</p>
  <form class="contact-us-form" [formGroup]="contactForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field class="full-width-field" appearance="fill">
    <mat-label>Full Name:</mat-label>
    <input matInput name="fullName" formControlName="name">
    <mat-error>
      <span *ngIf="!contactForm.controls.name.hasError('required')">Please enter a valid Name</span>
    </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width-field" appearance="fill">
      <mat-label>Email Address:</mat-label>
      <input type="email" matInput name="email" formControlName="email" #email>
      <mat-error>
        <p *ngIf="!contactForm.controls.email.hasError('email')">Please enter a valid email address</p>
        <p *ngIf="!contactForm.controls.email.hasError('required')">Please enter a email address</p>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width-field" appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input type="phone" matInput name="phone" formControlName="phone">
      <mat-error>
        <p *ngIf="!contactForm.controls.phone.hasError('phone')">Please enter a valid Ukraine Number e.g: +380123456789</p>
        <p *ngIf="!contactForm.controls.phone.hasError('required')">Please enter a email address</p>
      </mat-error>
    </mat-form-field>

    <div class="submit-button">
      <button mat-raised-button type="submit" [disabled]="!contactForm.valid">Submit</button>
    </div>
  </form>
</div>
