<div class="app">
  <div class="upper-menu">
    <app-horizontal-menu [height]="100" [bgColor]="'#ED7D31'" [alignment]="'right'" [links]="links"></app-horizontal-menu>
  </div>
  <div class="mid-section">
    <div class="vertical-menu">
      <app-vertical-menu [links]="links"></app-vertical-menu>
    </div>
    <div class="main-content">
      <app-main-content></app-main-content>
    </div>
  </div>

  <div class="lower-menu">
    <app-horizontal-menu  [height]="50" [bgColor]="'#FFC000'" [alignment]="'center'" [links]="links"></app-horizontal-menu>
  </div>
</div>
